@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
html, body{height: 100%;}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #2f228c, #532287, #6b2583, #7d2b7e, #8c337a);
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.container > section{
    width: 300px;
    height: 295px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-div > div > button{
    height: 30px;
    width: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    cursor: pointer;
    background-color:#532287;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    transition: .5s;
}
.container-div > div > button:active{transform: scale(1.1);}
.container-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.container-div > div > img{
    width: 70px;
}
.carta{
    width: 130px;
}
.vez{
    font-weight: bolder;
    padding-top: 10px;
    color: #8c337a;
}